/* common shared style */
body{
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/*nav related style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    
}
.logo{
    margin-left: 150px;
    font-size: 23px;
    font-weight: 800;
}
nav span{
    color: rgb(246, 103, 127);
}
.menu-items {
    display: flex;
    margin-right: 150px;

}
nav li{
    list-style: none;
    margin-right: 60px;
    
}
nav a{
    text-decoration: none;
    color: #666;
    font-size: 17px;
}
/* banner related styles */
 
.banner-container{
    display: flex;
    width: 100%;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
}
.banner-text{
    margin-left: 240px;
}
.banner-headline{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    margin-bottom: 0px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 634px;
    margin: 32px 0px;
}
.btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    cursor: pointer;
    }
    .btn:hover{
        color: #f3e2d6;
        
    }
.banner-image{
    width: 635px;
    height: 800px;
    margin: 50px 240px 0px 0px;
    
  
 }
 .featured-title{
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    margin-top: 100px;

 }
 .featured-info{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
 }
 

 
.featured-flower{
    display: flex;
    margin-left: 310px;
    margin-top: 50px;
}
.featured-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);


}
.flower-pink{
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;


}
.featured-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 0px 24px 0px 24px;



}
.flower-red{
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;
   
}
.featured-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);


}
.flower-yellow{
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;

}
.featured-name{
    display: flex;
    margin-left: 100px;
}
.featured-name a{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-left: 300px;
}
 .sevice-section{
    border-radius: 9px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 220px;
    margin-left: 310px;
    align-items: center;
    margin-top: 150px;

 }
 .service-options{
    display: flex;
    justify-content: space-around;
   }

 .service-1{
    width: 88px;
    height: 88px;
    margin-top: 50px;
    margin-left: 80px;
    
 }
    
 .service-2{
    width: 88px;
    height: 88px;
    margin-top: 50px;

}
 .service-3{
    width: 88px;
    height: 88px;
    margin-top: 50px}
    .service-name{
        display: flex;
        margin-left: 175px;
        margin-top: 10px;
        color: rgba(39, 39, 39, 0.80);
        justify-content: space-between;
}
.text-3{
    margin-right: 150px;
}

/* hot deal section */
.deal-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}
.deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-left: 423px;
    margin-bottom: 0px;

}
.deal-title span{
    color: #E55473;
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 594px;
    margin-left: 395px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.deal-btn{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 603px;
    cursor: pointer;
    margin-top: 0px;

}
.deal-btn:hover{
    color: rgb(46, 45, 45);
}
.deal-text{
    margin-top: 200px;
}
.deal-img{
    width: 318px;
    height: 420px;
    margin: 100px 430px 100px 0px ;

}
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;

}
.insta-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.insta-flower{
    display: flex;
    margin-left: 310px;
    margin-top: 50px;
    gap: 24px;
}
.infa-1{    
    width: 342px;
    height: 396px;
}
.infa-2{
    width: 342px;
    height: 396px;
}
.infa-3{
    width: 342px;
 height: 396px;
}
.infa-4{
    width: 342px;
    height: 396px;
}
.latest-img{
    border-radius: 8px;
    margin-left: 240px;
    margin-top: 100px;

}
.latest-deal-container{
  background: url(./rectangle\ 9.png);
  width: 1440px;
    height: 400px;
    margin-left: 310px;
    margin-top: 100px;
    border-radius: 8px
}
.latest-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 0px;

}
.latest-info{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
   
}
.latest-email{
    display: flex;
    border:none;
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 50px;
    margin-left: 287px;
    margin-top: 48px;


}.latest-btn{
    border-radius: 8px;
    background: #E55473;
    width: 150px;
    height: 50px;
    border: none;
    color: #FFF;
    font-size: 20px;
   font-weight: 700;
   margin-top: 48px;
   margin-left: 10px;
   cursor: pointer;

}
.latest-btn:hover{
    color: #666;
}
.search-bar{
    display: flex;
}
/* footer section */
.footer-section{
    height: 449px;
    background: #111010;
    margin-top: 128px;
    width: 100%;
}
.footer-section span{
    color: white;
}
.footer-heading{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-top: 128px;
    margin-left: 841px;
    margin-bottom: 0px;
}
.footer-text{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 625px;
    margin-left: 658px;
    margin-top: 24px;
    padding-bottom: 24px;
}
.copy-right{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-left: 794px;
}